.clock-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: var(--clockBoardSize);
	height: var(--clockBoardSize);
}

.clock-cell {
	position: relative;
	border: var(--cellBorder);
	border-radius: var(--cellRadius);
}

.clock-center {
	background-color: var(--centerCellColor);
}

.hand-leaf {
	position: absolute;
	transform-origin: bottom center;
}

.hr-hand-leaf {
	bottom: 50%;
	left: calc(50% - 0.9vmin);
	background-color: var(--hrHandColor);
	width: 1.8vmin;
	height: 23vmin;
	transform: rotate(45deg);
}

.mn-hand-leaf {
	bottom: 50%;
	left: calc(50% - 1vmin);
	background-color: var(--mnHandColor);
	width: 2vmin;
	height: 35vmin;
	transform: rotate(350deg);
}

.sc-hand-leaf {
	bottom: 50%;
	left: calc(50% - 0.1vmin);
	background-color: var(--scHandColor);
	width: 0.2vmin;
	height: 10vmin;
}

.hand-tail {
	position: absolute;
	transform-origin: top center;
}

.hr-hand-tail {
	top: 50%;
	left: calc(50% - 0.9vmin);
	background-color: var(--hrHandColor);
	width: 1.8vmin;
	height: 5vmin;
	transform: rotate(45deg);
}

.mn-hand-tail {
	top: 50%;
	left: calc(50% - 1vmin);
	background-color: var(--mnHandColor);
	width: 2vmin;
	height: 4vmin;
	transform: rotate(350deg);
}

.sc-hand-tail {
	top: 50%;
	left: calc(50% - 0.1vmin);
	background-color: var(--scHandColor);
	width: 0.2vmin;
	height: 2.5vmin;
}

.clock-center-cap-outer {
	position: absolute;
	top: calc(50% - 2vmin);
	left: calc(50% - 2vmin);
	width: 4vmin;
	height: 4vmin;
	background-color: var(--hrHandColor);
	border-radius: 50%;
}

.clock-center-cap-inner {
	position: absolute;
	top: calc(50% - 1vmin);
	left: calc(50% - 1vmin);
	width: 2vmin;
	height: 2vmin;
	background-color: #eee;
	border-radius: 50%;
}

.pin {
	position: absolute;
}

.pin-top-one {
	background-color: var(--cellBorderColor);
	left: calc(50% - 0.5vmin - 1vmin);
	width: 1vmin;
	height: 9vmin;
}

.pin-top-two {
	background-color: var(--cellBorderColor);
	left: calc(50% - 0.5vmin + 1vmin);
	width: 1vmin;
	height: 9vmin;
}

.pin-bottom-one {
	background-color: var(--cellBorderColor);
	bottom: 0;
	left: calc(50% - 0.5vmin);
	width: 1vmin;
	height: 9vmin;
}

.clock-cell:nth-child(1) {
	box-shadow: inset var(--cellShadowThickness) var(--cellShadowThickness)
		var(--cellShadowBlur) 0 var(--cellShadowColor);
}
.clock-cell:nth-child(2) {
	box-shadow: inset 0 var(--cellShadowThickness) var(--cellShadowBlur) 2px
		var(--cellShadowColor);
}
.clock-cell:nth-child(3) {
	box-shadow: inset var(--cellShadowThicknessNegative) var(--cellShadowThickness)
		var(--cellShadowBlur) 0 var(--cellShadowColor);
}
.clock-cell:nth-child(4) {
	box-shadow: inset var(--cellShadowThickness) 0 var(--cellShadowBlur) 2px
		var(--cellShadowColor);
}
.clock-cell:nth-child(6) {
	box-shadow: inset var(--cellShadowThicknessNegative) 0 var(--cellShadowBlur) 2px
		var(--cellShadowColor);
}
.clock-cell:nth-child(7) {
	box-shadow: inset var(--cellShadowThickness) var(--cellShadowThicknessNegative)
		var(--cellShadowBlur) 0 var(--cellShadowColor);
}
.clock-cell:nth-child(8) {
	box-shadow: inset 0 var(--cellShadowThicknessNegative) var(--cellShadowBlur) 2px
		var(--cellShadowColor);
}
.clock-cell:nth-child(9) {
	box-shadow: inset var(--cellShadowThicknessNegative)
		var(--cellShadowThicknessNegative) var(--cellShadowBlur) 0
		var(--cellShadowColor);
}
