.pin {
	position: absolute;
}

.pin-top-one {
	background-color: black;
	left: calc(50% - 0.5vmin - 1vmin);
	width: 1vmin;
	height: 9vmin;
}

.pin-top-two {
	background-color: black;
	left: calc(50% - 0.5vmin + 1vmin);
	width: 1vmin;
	height: 9vmin;
}

.pin-bottom-one {
	background-color: black;
	bottom: 0;
	left: calc(50% - 0.5vmin);
	width: 1vmin;
	height: 9vmin;
}
