.pin {
	position: absolute;
}

.pin-top-one {
	background-color: black;
	left: calc(50% - 0.5vmin - 1vmin);
	width: 1vmin;
	height: 9vmin;
}

.pin-top-two {
	background-color: black;
	left: calc(50% - 0.5vmin + 1vmin);
	width: 1vmin;
	height: 9vmin;
}

.pin-bottom-one {
	background-color: black;
	bottom: 0;
	left: calc(50% - 0.5vmin);
	width: 1vmin;
	height: 9vmin;
}

.pin-left-one {
	background-color: black;
	left: 0;
	top: calc(50% - 0.5vmin + 2vmin);
	height: 1vmin;
	width: 9vmin;
}

.pin-left-two {
	background-color: black;
	top: calc(50% - 0.5vmin);
	left: 0;
	height: 1vmin;
	width: 9vmin;
}

.pin-left-three {
	background-color: black;
	top: calc(50% - 0.5vmin - 2vmin);
	left: 0;
	height: 1vmin;
	width: 9vmin;
}
